
.CardWrapper {
	position: relative;

	&-Container, &-Content {
		width: 100%;
		height: 100%;

		&_substract {
			&_common {
				border-radius: 16px;
			}
		}
	}

	&-Container {
		position: absolute;
		inset: 0 0 0 0;
		padding: 1px;

		@apply bg-gradient-1;
		background-clip: padding-box;
		background-size: contain;

		mask-composite: exclude;
		mask-size: contain;
		mask-repeat: no-repeat;

		&_backgroundRevert {
			@apply bg-gradient-1-revert;
		}

		&_substract {
			&_common {
				mask-image: linear-gradient(white, white), linear-gradient(white, white);
				mask-clip: content-box, padding-box;
			}

			&_technology {
				mask-image: url(./substracts/substract-technology.svg);
			}

			&_faq {
				mask-image: url(./substracts/substract-faq.svg);
				mask-size: 100% 100%;
			}
		}

		z-index: -1;
	}

	&-Content {
		display: flex;
		justify-content: center;
		align-items: center;

		@apply bg-gray-5;

		&_substract {
			&_technology {
				clip-path: url(#clip-path-card-wrapper-technology);
			}

			&_faq {
				clip-path: url(#clip-path-card-wrapper-faq);
			}
		}
	}
}
