.mentor_card {
	@apply absolute w-[182px] h-[182px] pt-[182px] rounded-full;

	&_left {
		@apply left-[-50%];

		&_line {
			@apply translate-x-1;
		}
	}

	&_center {
		@apply translate-x-[-50%];
		transform-style: preserve-3d;
	}

	&_right {
		@apply right-[-50%];

		&_line {
			@apply scale-x-[-1] -translate-x-1;
		}
	}

	&::after {
		content: '';
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		transform: translateZ(-1em);

		@apply absolute -left-0.5 -top-0.5
		bg-gradient-1 rounded-full -z-10;
	}
}

.description {
	&:after {
		content: 'Front';
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
		-webkit-text-fill-color: transparent;
		@apply absolute left-[5.47vw] bottom-4 scale-y-90
		font-clash-display font-bold text-[14vw] leading-[9vw]
		opacity-10

		max-2xl:text-[13vw]
		max-xl:text-[11vw] max-xl:left-[auto] max-xl:-right-4;
	}
}
